section.home{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../images/red-bg1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .dots{
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        margin: auto;
        // border: 1px solid $primary_color;
        border-radius: 10px;
        padding: 10px 5px;
        list-style: none;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #80101ba1;

        li{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $white_color;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover{
                transform: scale(1.1);
                background-color: $primary_color;
            }

            &.active{
                background-color: $primary_color;
            }
        }
    }
    canvas{
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
    }
}
