@import './variables';

.nav-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 99999;
    ul{
        li{
            padding: 5px 25px;
            border-right: 1px solid $primary_color;
            border-left: 1px solid $primary_color;
            a{
                color: $primary_color;
                text-decoration: none;
                text-shadow: -1px 0 1px #b0242f;
            }
        }
    }
}