@import './variables';

.section{
    &.our_services{
        position: relative;
        min-height: auto;
        z-index: 99;
        background-color: $orange_color;
        background-image: url(../images/services/orange-bg-80.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
    
        .service-container{
            position: relative;
            width: 100%;
            background-color: $primary_color;
            background-image: url(../images/services/yellow-bg-80.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            z-index: 2;
            
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -8vw;
                margin: auto;
                width: 70vw;
                height: 70vw;
                background-color: $blue_color;
                border-radius: 50%;
                z-index: 3;

                @media screen and (max-width:600px) and (orientation:portrait) {
                    width: 90vw;
                    height: 90vw;
                }
            }

            &::after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 5%;
                transform: translateX(-25%);
                margin: auto;
                width: 200vw;
                height: 200vw;
                background-color: $orange_color;
                border-radius: 50%;
                z-index: 1;
            }

            .service-links{
                margin: auto;
                position: relative;
                width: 60vw;
                height: 60vw;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                z-index: 4;

                @media screen and (max-width:600px) and (orientation:portrait) {
                    width: 100vw;
                    height: 60vw;
                }

                .links{
                    display: flex;
                    position: absolute;
                    top: 35%;
                    height: 27%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    
                    .link{
                        position: absolute;
                        width: 19%;
                        height: 100%;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .link1{
                        left: 15%;   
                    }
                    .link2{
                        left: 40%;
                    }
                    .link3{
                        left: 66%;
                    }

                    @media screen and (max-width:600px) and (orientation:portrait) {
                        top: 62%;
                        height: 40%;
                    }
                }
                img{
                    max-width: 70%;
                    width: 100%;
                }
            }

            .services-list{
                position: relative;
                min-height: 100vh;
                width: 100%;
                background-color: $primary_color;
                background-image: url(../images/services/orange-bg-80.jpg);
                background-size: cover;
                background-position: top;
                background-repeat: no-repeat;
                z-index: 2;
                margin-top: -10%;
    
                .services-container{
                    max-width: 900px;
                    margin: auto;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .title{
                    width: 300px;
                    max-width: 90%;
                    margin: auto;

                    @media screen and (max-width:600px) and (orientation:portrait) {
                        width: 200px;
                        margin-top: 4rem;
                    }
                }

                .services-menu {
                    max-width: 350px;
                    margin: auto;
                    li{
                        color: $white_color;
                        text-align: center;
                        padding: 16px;
                        cursor: pointer;
                        &:hover,&.active{
                            background-color: #ea0d0042;
                        }
                    }
                    li:not(:last-child){
                        border-bottom: 1px dashed $white_color;
                    }
                }

                .service{
                    padding-top: 2rem;
                    padding: 2rem 0;
                    padding-bottom: 5rem;
                    display: none;
                    &.active{
                        display: block;
                    }
                    
                    @media screen and (min-width: 992px) {
                        min-height: 100vh;
                    }
                    

                    .service-icon{
                        max-width: 100%;
                        width: 250px;
                    }
                    .title{
                        color: $primary_color;
                        font-size: calc(1vw + 30px);
                        line-height: .8;
                        padding-left: 1rem;
                        text-align: right;
                        max-width: 100%;
                        width: 400px;
                        margin: auto;
                    }
                    .box-title{
                        color: $white_color;
                        font-size: 16px;
                        font-family: 'EJ Rounded Demi';
                        font-weight: 600;
                        max-width: 500px;
                        margin: auto;
                        padding: 1rem 0;
                    }
                    .box{
                        position: relative;
                        border-top: 1px dashed $white_color;
                        border-bottom: 1px dashed $white_color;
                        max-width: 500px;
                        margin: auto;
                        color: $white_color;
                        font-family: 'EJ Rounded';
                        font-weight: 300;
                        padding: 2rem 0;
                        height: fit-content;

                        &::before{
                            content: '';
                            position: absolute;
                            left: -2rem;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                            background-image: -webkit-linear-gradient(to right, #ea0d00 , transparent);
                            background-image: linear-gradient(to right, #ea0d00 , transparent);
                        }
                        .text{
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }    

        .services{
            position: relative;
            height: fit-content;
            width: 100%;

            .actions{
                font-family: "EJ Rounded Demi";
                font-weight: 600;
                color: $primary_color;
                position: absolute;
                right: 0;
                left: 0;
                bottom: 1rem;
                display: flex;
                gap: 1rem;
                margin: auto;
                justify-content: center;
                div{
                    font-size: 50px;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                    &.disabled{
                        opacity: .5;
                        pointer-events: none;
                    }
                }
                .next{
                    cursor: pointer;
                }
                .prev{
                    cursor: pointer;
                }
            }
        }
    
        
    }
}
