@import "fonts";
@import "loader";

.ej-rounded-book {
    font-family: 'EJ Rounded Book';
    font-weight: normal;
    font-style: normal;
}

.ej-rounded-demi {
    font-family: 'EJ Rounded Demi';
    font-weight: 600;
    font-style: normal;
}

.ej-rounded-light {
    font-family: 'EJ Rounded';
    font-weight: 300;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body{
    position: relative;
    width: 100%;
    margin: 0;
    font-family: "EJ Rounded Book";
    font-weight: normal;
    font-style: normal;
    line-height: 1.1;
    
    .section{
        min-height: 100vh;
        overflow-x: hidden;
    }
    main{
        display: none;
        width: 100%;
    }
    b{
        font-family: 'EJ Rounded Demi';
        font-weight: 600
    }

    .home-icon{
        position: fixed;
        right: 10%;
        top: 1rem;
        width: 35px;
        height: 35px;
        display: block;
        z-index: 99999;
    }
    
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

@import "./variables";
@import "./animation.scss";
@import "./navs.scss";
@import "./pendulum.scss";
// @import "./home.scss";
@import "./canvas.scss";
@import "./our-services.scss";
@import "./why-choose.scss";
@import "./contact-us.scss";
