@import './variables';
.section{
    &.why_choose{
        position: relative;
        z-index: 99;
        background-color: $blue_color;
        background-image: url(../images/why-choose/blue-bg-80.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: repeat-y;
    }

    .home-icon{
        position: absolute;
        right: 10%;
        top: 1rem;
        width: 35px;
        height: 35px;
        display: block;
        z-index: 99;
    }

    .why-choose-container{
        max-width: 900px;
        margin: auto;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media screen and (min-width: 992px) {
            min-height: 100vh;
        }

        .title{
            width: 300px;
            max-width: 90%;
            margin: auto;
        }
        .dart-img{
            max-width: 170px;
        }
        .why-choose-menu {
            max-width: 350px;
            margin: auto;
            li{
                color: $white_color;
                text-align: center;
                padding: 16px;
                cursor: pointer;
                &:hover,&.active{
                    background-color: #020c5642;
                }
            }
            li:not(:last-child){
                border-bottom: 1px dashed $white_color;
            }
        }

    }
    .choose-sections{
        min-height: 100vh;
        width: 100%;

        .dart-img{
            max-width: 100px;
        }

        .items{
            .item{
                .item-title{
                    background-color: #afc1f7;
                    background-image: linear-gradient(to right, #cfdaff, #afc1f7);
                    text-align: center;
                    padding: 1rem;
                    min-width: 250px;
                    width: 250px;
                    max-width: 100%;
                    color: $blue_color;
                    border-radius: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-family: 'EJ Rounded Demi';
                    font-weight: 600;
                }
                .item-text{
                    color: $white_color;
                    border-radius: 55px;
                    padding: 16px 30px;
                    font-family: 'EJ Rounded';
                    font-weight: 300;
                    font-size: 15px;
                    @media screen and (max-width:992px) {
                        border-radius: 16px;
                    }
                }

                &.item1{
                    .item-text{
                        background-color: #632dc4;
                        background-image: linear-gradient(to right,#9e7ddc,#632dc4);
                        box-shadow: -6px -2px 13px -1px #9e7ddc;
                    }
                }

                &.item2{
                    .item-text{
                        background-color: #1698ed;
                        background-image: linear-gradient(to right,#93d0ff,#1698ed);
                        box-shadow: -6px -2px 13px -1px #93d0ff;
                    }
                }

                &.item3{
                    .item-text{
                        background-color: #632dc4;
                        background-image: linear-gradient(to right,#9e7ddc,#632dc4);
                        box-shadow: -6px -2px 13px -1px #9e7ddc;
                    }
                }

                &.item4{
                    .item-text{
                        background-color: #1698ed;
                        background-image: linear-gradient(to right,#93d0ff,#1698ed);
                        box-shadow: -6px -2px 13px -1px #93d0ff;
                    }
                }


            }
        }
    }
}
