@font-face {
  font-family: "EJ Rounded Book";
  src: url("../fonts/EJRounded-Book.eot");
  src: url("../fonts/EJRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/EJRounded-Book.woff2") format("woff2"), url("../fonts/EJRounded-Book.woff") format("woff"), url("../fonts/EJRounded-Book.ttf") format("truetype"), url("../fonts/EJRounded-Book.svg#EJRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EJ Rounded Demi";
  src: url("../fonts/EJRounded-Demi.eot");
  src: url("../fonts/EJRounded-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/EJRounded-Demi.woff2") format("woff2"), url("../fonts/EJRounded-Demi.woff") format("woff"), url("../fonts/EJRounded-Demi.ttf") format("truetype"), url("../fonts/EJRounded-Demi.svg#EJRounded-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EJ Rounded";
  src: url("../fonts/EJRounded-Light.eot");
  src: url("../fonts/EJRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EJRounded-Light.woff2") format("woff2"), url("../fonts/EJRounded-Light.woff") format("woff"), url("../fonts/EJRounded-Light.ttf") format("truetype"), url("../fonts/EJRounded-Light.svg#EJRounded-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.page-loader {
  min-height: 100vh;
  background-color: #FFF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  min-height: 100vh;
  z-index: 999999999;
}

.ej-rounded-book {
  font-family: "EJ Rounded Book";
  font-weight: normal;
  font-style: normal;
}

.ej-rounded-demi {
  font-family: "EJ Rounded Demi";
  font-weight: 600;
  font-style: normal;
}

.ej-rounded-light {
  font-family: "EJ Rounded";
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: "EJ Rounded Book";
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;
}
body .section {
  min-height: 100vh;
  overflow-x: hidden;
}
body main {
  display: none;
  width: 100%;
}
body b {
  font-family: "EJ Rounded Demi";
  font-weight: 600;
}
body .home-icon {
  position: fixed;
  right: 10%;
  top: 1rem;
  width: 35px;
  height: 35px;
  display: block;
  z-index: 99999;
}

@keyframes swingCenterRight {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(25deg);
  }
}
@keyframes swingRightCenter {
  from {
    transform: rotateZ(-25deg);
  }
  to {
    transform: rotateZ(0);
  }
}
.nav-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 99999;
}
.nav-bottom ul li {
  padding: 5px 25px;
  border-right: 1px solid #ECC935;
  border-left: 1px solid #ECC935;
  background-color: rgba(158, 20, 33, 0.6784313725);
}
.nav-bottom ul li a {
  color: #ECC935;
  text-decoration: none;
}

.pendulums {
  display: flex;
  justify-content: center;
}
.pendulums .pendulum {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top;
}
.pendulums .pendulum .line {
  height: 40vh;
  min-height: 70px;
  width: 1px;
  background-color: #FFFFFF;
}
.pendulums .pendulum .circle {
  width: calc(50px + 3vh);
  height: calc(50px + 3vh);
  border-radius: 50%;
  margin-top: -5px;
  background-color: #FFFFFF;
}
.pendulums .pendulum.right {
  transform: rotateZ(-25deg);
}
.pendulums .pendulum.right .line, .pendulums .pendulum.right .circle {
  background-color: #ECC935;
}
.pendulums .pendulum.right[data-aos=swingRightCenter].aos-animate {
  transform: rotateZ(0deg);
}
.pendulums .pendulum.right[data-aos=swingRightCenter].aos-animate .line, .pendulums .pendulum.right[data-aos=swingRightCenter].aos-animate .circle {
  background-color: #FFFFFF;
}
.pendulums .pendulum.left {
  transform: rotateZ(0deg);
}
.pendulums .pendulum.left[data-aos=swingCenterLeft] {
  transform: rotateZ(0deg);
}
.pendulums .pendulum.left[data-aos=swingCenterLeft].aos-animate {
  transform: rotateZ(25deg);
}
.pendulums .pendulum.left[data-aos=swingCenterLeft].aos-animate .line, .pendulums .pendulum.left[data-aos=swingCenterLeft].aos-animate .circle {
  background-color: #ECC935;
}

section.home {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #9e1421;
  background-image: url(../images/red-bg1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  section.home {
    background-size: 142%;
    background-position: bottom;
    background-image: url(../images/red-mobile.png);
  }
  section.home .nav-bottom {
    max-width: 100%;
    bottom: 25px;
  }
  section.home .nav-bottom ul {
    flex-wrap: wrap;
  }
  section.home .nav-bottom ul li {
    padding: 5px 11px;
    margin: 5px 0;
    border: 0;
    background: none;
  }
  section.home .nav-bottom ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  section.home {
    align-items: center;
  }
}
section.home .dots {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  padding: 10px 5px;
  list-style: none;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(128, 16, 27, 0.631372549);
}
section.home .dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
section.home .dots li:hover {
  transform: scale(1.1);
  background-color: #ECC935;
}
section.home .dots li.active {
  background-color: #ECC935;
}
section.home canvas {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  section.home canvas {
    max-width: 150vw;
  }
}
section.home canvas.touch-disbled {
  touch-action: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide video.desktop-video {
  display: block;
}
.swiper-slide video.mobile-video {
  display: none;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .swiper-slide video.desktop-video {
    display: none;
  }
  .swiper-slide video.mobile-video {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
}

.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
}

.section.our_services {
  position: relative;
  min-height: auto;
  z-index: 99;
  background-color: #ee4130;
  background-image: url(../images/services/orange-bg-80.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}
.section.our_services .service-container {
  position: relative;
  width: 100%;
  background-color: #ECC935;
  background-image: url(../images/services/yellow-bg-80.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 2;
}
.section.our_services .service-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -8vw;
  margin: auto;
  width: 70vw;
  height: 70vw;
  background-color: #181854;
  border-radius: 50%;
  z-index: 3;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .section.our_services .service-container::before {
    width: 90vw;
    height: 90vw;
  }
}
.section.our_services .service-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  transform: translateX(-25%);
  margin: auto;
  width: 200vw;
  height: 200vw;
  background-color: #ee4130;
  border-radius: 50%;
  z-index: 1;
}
.section.our_services .service-container .service-links {
  margin: auto;
  position: relative;
  width: 60vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 4;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .section.our_services .service-container .service-links {
    width: 90vw;
    height: 60vw;
  }
}
.section.our_services .service-container .service-links .links {
  display: flex;
  position: absolute;
  top: 35%;
  height: 27%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.section.our_services .service-container .service-links .links .link {
  position: absolute;
  width: 19%;
  height: 100%;
}
.section.our_services .service-container .service-links .links .link a {
  display: block;
  width: 100%;
  height: 100%;
}
.section.our_services .service-container .service-links .links .link1 {
  left: 15%;
}
.section.our_services .service-container .service-links .links .link2 {
  left: 40%;
}
.section.our_services .service-container .service-links .links .link3 {
  left: 66%;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .section.our_services .service-container .service-links .links {
    top: 53%;
    height: 40%;
  }
}
.section.our_services .service-container .service-links img {
  max-width: 70%;
  width: 100%;
}
.section.our_services .service-container .services-list {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #ECC935;
  background-image: url(../images/services/orange-bg-80.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 2;
  margin-top: -10%;
}
.section.our_services .service-container .services-list .services-container {
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section.our_services .service-container .services-list .title {
  width: 300px;
  max-width: 90%;
  margin: auto;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .section.our_services .service-container .services-list .title {
    width: 200px;
    margin-top: 4rem;
  }
}
.section.our_services .service-container .services-list .services-menu {
  max-width: 350px;
  margin: auto;
}
.section.our_services .service-container .services-list .services-menu li {
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  cursor: pointer;
}
.section.our_services .service-container .services-list .services-menu li:hover, .section.our_services .service-container .services-list .services-menu li.active {
  background-color: rgba(234, 13, 0, 0.2588235294);
}
.section.our_services .service-container .services-list .services-menu li:not(:last-child) {
  border-bottom: 1px dashed #FFFFFF;
}
.section.our_services .service-container .services-list .service {
  padding-top: 2rem;
  padding: 2rem 0;
  padding-bottom: 5rem;
  display: none;
}
.section.our_services .service-container .services-list .service.active {
  display: block;
}
@media screen and (min-width: 992px) {
  .section.our_services .service-container .services-list .service {
    min-height: 100vh;
  }
}
.section.our_services .service-container .services-list .service .service-icon {
  max-width: 100%;
  width: 250px;
}
.section.our_services .service-container .services-list .service .title {
  color: #ECC935;
  font-size: calc(1vw + 30px);
  line-height: 0.8;
  padding-left: 1rem;
  text-align: right;
  max-width: 100%;
  width: 400px;
  margin: auto;
}
.section.our_services .service-container .services-list .service .box-title {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "EJ Rounded Demi";
  font-weight: 600;
  max-width: 500px;
  margin: auto;
  padding: 1rem 0;
}
.section.our_services .service-container .services-list .service .box {
  position: relative;
  border-top: 1px dashed #FFFFFF;
  border-bottom: 1px dashed #FFFFFF;
  max-width: 500px;
  margin: auto;
  color: #FFFFFF;
  font-family: "EJ Rounded";
  font-weight: 300;
  padding: 2rem 0;
  height: fit-content;
}
.section.our_services .service-container .services-list .service .box::before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: -webkit-linear-gradient(to right, #ea0d00, transparent);
  background-image: linear-gradient(to right, #ea0d00, transparent);
}
.section.our_services .service-container .services-list .service .box .text {
  position: relative;
  z-index: 1;
}
.section.our_services .services {
  position: relative;
  height: fit-content;
  width: 100%;
}
.section.our_services .services .actions {
  font-family: "EJ Rounded Demi";
  font-weight: 600;
  color: #ECC935;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
  margin: auto;
  justify-content: center;
}
.section.our_services .services .actions div {
  font-size: 50px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.section.our_services .services .actions div.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.section.our_services .services .actions .next {
  cursor: pointer;
}
.section.our_services .services .actions .prev {
  cursor: pointer;
}

.section.why_choose {
  position: relative;
  z-index: 99;
  background-color: #181854;
  background-image: url(../images/why-choose/blue-bg-80.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-y;
}
.section .home-icon {
  position: absolute;
  right: 10%;
  top: 1rem;
  width: 35px;
  height: 35px;
  display: block;
  z-index: 99;
}
.section .why-choose-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .section .why-choose-container {
    min-height: 100vh;
  }
}
.section .why-choose-container .title {
  width: 300px;
  max-width: 90%;
  margin: auto;
}
.section .why-choose-container .dart-img {
  max-width: 170px;
}
.section .why-choose-container .why-choose-menu {
  max-width: 350px;
  margin: auto;
}
.section .why-choose-container .why-choose-menu li {
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  cursor: pointer;
}
.section .why-choose-container .why-choose-menu li:hover, .section .why-choose-container .why-choose-menu li.active {
  background-color: rgba(2, 12, 86, 0.2588235294);
}
.section .why-choose-container .why-choose-menu li:not(:last-child) {
  border-bottom: 1px dashed #FFFFFF;
}
.section .choose-sections {
  min-height: 100vh;
  width: 100%;
}
.section .choose-sections .dart-img {
  max-width: 100px;
}
.section .choose-sections .items .item .item-title {
  background-color: #afc1f7;
  background-image: linear-gradient(to right, #cfdaff, #afc1f7);
  text-align: center;
  padding: 1rem;
  min-width: 250px;
  width: 250px;
  max-width: 100%;
  color: #181854;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "EJ Rounded Demi";
  font-weight: 600;
}
.section .choose-sections .items .item .item-text {
  color: #FFFFFF;
  border-radius: 55px;
  padding: 16px 30px;
  font-family: "EJ Rounded";
  font-weight: 300;
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .section .choose-sections .items .item .item-text {
    border-radius: 16px;
  }
}
.section .choose-sections .items .item.item1 .item-text {
  background-color: #632dc4;
  background-image: linear-gradient(to right, #9e7ddc, #632dc4);
  box-shadow: -6px -2px 13px -1px #9e7ddc;
}
.section .choose-sections .items .item.item2 .item-text {
  background-color: #1698ed;
  background-image: linear-gradient(to right, #93d0ff, #1698ed);
  box-shadow: -6px -2px 13px -1px #93d0ff;
}
.section .choose-sections .items .item.item3 .item-text {
  background-color: #632dc4;
  background-image: linear-gradient(to right, #9e7ddc, #632dc4);
  box-shadow: -6px -2px 13px -1px #9e7ddc;
}
.section .choose-sections .items .item.item4 .item-text {
  background-color: #1698ed;
  background-image: linear-gradient(to right, #93d0ff, #1698ed);
  box-shadow: -6px -2px 13px -1px #93d0ff;
}

.section.contact_us {
  position: sticky;
  min-height: auto;
  z-index: 99;
  background-color: #ECC935;
  background-image: url(../images/conatct-us/contact-bg-80.jpg);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.section .contact-container {
  position: relative;
}
.section .contact-container .home-icon {
  position: absolute;
  right: 10%;
  top: 1rem;
  width: 35px;
  height: 35px;
  display: block;
  z-index: 99;
}
.section .contact-container .circle {
  position: relative;
  height: fit-content;
  margin: auto;
  width: 90%;
  transform: translateY(-10%);
}
@media screen and (min-width: 992px) {
  .section .contact-container .circle {
    width: 70%;
  }
}
.section .contact-container .circle .content {
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 10%;
  color: #FFFFFF;
}
.section .contact-container .circle .content .info {
  padding-right: 10%;
}
.section .contact-container .circle .content .conatct-icon {
  max-width: 200px;
  width: 90%;
  margin-top: 10%;
}
.section .contact-container .circle .content .contact-title {
  max-width: 100%;
  width: 30px;
  margin: auto;
}
.section .contact-container .circle .content .contact-title img {
  width: 100%;
}
.section .contact-container .circle .content .contact-title h2 {
  display: none;
  color: #181854;
  font-size: 50px;
  line-height: 0.9;
  font-family: "EJ Rounded Demi";
  font-weight: 600;
}
.section .contact-container .circle .content h3 {
  font-family: "EJ Rounded Demi";
  font-weight: 600;
  font-size: 20px;
}
.section .contact-container .circle .content p {
  font-family: "EJ Rounded";
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .section .contact-container .circle .content .conatct-icon {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }
  .section .contact-container .circle .content .contact-title {
    transform: rotate(90deg);
    width: 20px;
    margin-bottom: -30px;
    margin-top: -30px;
  }
  .section .contact-container .circle .content .info {
    padding: 0 3rem;
    max-width: 80%;
    margin: auto;
  }
  .section .contact-container .circle .content .info h3 {
    font-size: 18px;
  }
  .section .contact-container .circle .content .info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .section .contact-container .circle .orange-circle {
    display: none;
  }
  .section .contact-container .circle .content {
    position: relative;
  }
  .section .contact-container .circle .content .info {
    padding: 0 1rem;
    max-width: 100%;
  }
  .section .contact-container .circle .content .contact-title {
    transform: rotate(0deg);
    width: 200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  .section .contact-container .circle .content .contact-title img {
    display: none;
  }
  .section .contact-container .circle .content .contact-title h2 {
    display: block;
  }
}
.section .our_client {
  padding-bottom: 4rem;
  background-color: #ECC935;
  background-image: url(../images/our-clients/yellow-bg-80.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.section .our_client .our-client-icon {
  width: 200px;
  max-width: 90%;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .section .our_client .our-client-icon {
    margin-top: -10%;
    margin-left: 0;
  }
}
.section .our_client .our-client-icon img {
  width: 100%;
}
.section .our_client .our-client-title {
  width: 200px;
  max-width: 90%;
  margin: 1rem auto;
}
@media screen and (min-width: 992px) {
  .section .our_client .our-client-title {
    margin-left: auto;
  }
}
.section .our_client .our-client-title img {
  width: 100%;
}
.section .our_client .logos {
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
